@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<h4>Você não tem permição para acessar essa funcionalidade, <a asp-controller="Home" asp-action="Index">clique aqui para voltar para a home.</a></h4>